<!doctype html>
<html class="no-js" lang="">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title>Web Management UI</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <link rel="stylesheet" href="static/css/normalize.css">
        <link rel="stylesheet" href="static/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/css/main.css">
        <script src="static/js/vendor/modernizr-2.8.3.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Dashboard <small>Overview</small>
                        </h1>
                    </div>
                </div>
                <!-- /.row -->

                <div class="row">
                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-money fa-fw"></i> Actions</h3>
                            </div>
                            <div class="panel-body">
                                <button class="btn btn-success" id="light_enable">Turn On Light</button>
                                <button class="btn btn-danger" id="light_disable">Turn Off Light</button>

                                <form action="/" method="post">
                                  <div class="form-group">
                                    <label for="price_per_hour">Price Per Hour</label>
                                    <input type="number" class="form-control" name="price_per_hour" id="price_per_hour" type="number" min="5" max="10" step="0.5" placeholder="{{ coin_machine.price_per_hour }}">
                                  </div>
                                  <button type="submit" class="btn btn-default">Submit</button>
                                </form>
                            </div>
                        </div>
                    </div>

                    <div class="col-lg-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i>Coin Machine Information</h3>
                            </div>
                            <div class="panel-body">
                                {% if coin_machine %}
                                <div class="list-group">
                                    <a href="#" class="list-group-item">
                                        <span class="badge">{{ coin_machine.money }}</span>
                                        <span id="money" data-money="{{ coin_machine.money }}">Money</span>
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <span class="badge">{{ coin_machine.price_per_hour }}</span>
                                        <span id="hourly_rate" data-price_per_hour="{{ coin_machine.price_per_hour }}">Price Per Hour</span>
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <span class="badge">{{ coin_machine.is_locked }}</span>
                                        <span id="locked" data-is_locked="{{ coin_machine.id_locked }}">Locked Status</span>
                                    </a>
                                </div>
                                {% endif %}
                            </div>
                        </div>

                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h3 class="panel-title"><i class="fa fa-clock-o fa-fw"></i>Light Information</h3>
                            </div>
                            <div class="panel-body">
                                {% if light_manager %}
                                <div class="list-group">
                                    <a href="#" class="list-group-item">
                                        <span class="badge">{{ light_manager.activation_time }}</span>
                                        <span id="time_activated" data-activation_time="{{ light_manager.activation_time }}">Time Activated</span>
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <span class="badge">{{ light_manager.time_remaining }}</span>
                                        <span id="time_remaining" data-time_remaning="{{ light_manager.time_remaining }}">Time Remaining</span>
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <span class="badge">{{ light_manager.expiration_time }}</span>
                                        <span id="time_expires" data-expiration_time="{{ light_manager.expiration_time }}">Time Expires</span>
                                    </a>
                                    <a href="#" class="list-group-item">
                                        <span class="badge">{{ light_manager.override }}</span>
                                        <span id="override" data-override="{{ light_manager.override }}">Override Status</span>
                                    </a>
                                </div>
                                {% endif %}
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

        <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.12.0.min.js"><\/script>')</script>
        <script src="static/js/vendor/bootstrap.js"></script>
        <script src="static/js/plugins.js"></script>
        <script src="static/js/vendor/jquery.countdown.min.js"></script>
        <script src="static/js/main.js"></script>
    </body>
</html>